{% extends "homebase.html" %}
{% block head %}
    <meta name = "description" content="Home page for MIS data collection">
{% endblock head %}
{% block title %}<title>Home</title>{% endblock title %}
{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">CUSTOMER INFORMATION FORM MMG LIMITED 2023 (MIS)</h1>
    
    <div class="msg">{{ msg }}</div>
    <form action="{{ url_for('customer_information') }}" method="post"> 

    <body>
          
<article>
    <form>
        <div class ="row">
            <div class="col-5">
        <label for ="lastname">Customer Lastname:</label>
    </div>
    <div class="col-7">
    <input type="text" name="last_name" id="last_name" value="{{ last_name}}">
    
    </div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="Firstname">Customer FirstName:</label>
</div>
<div class="col-7">
<input type="text" name="first_name" id="first_name" value="{{ first_name}}">

</div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="middlename">Customer MiddleName:</label>
</div>
<div class="col-7">
<input type="text" name="middle_name" id="middle_name" value="{{ middle_name}}">

</div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="dob">Customer_date_of_birth:</label>
</div>
<div class="col-7">
<input type="date" name="dob" id="dob" value="{{ dob}}">

</div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="Customer_Estimated_delivery_date">Customer Estimated delivery date:</label>
</div>
<div class="col-7">
<input type="date" name="Customer_Estimated_delivery_date" id="Customer_Estimated_delivery_date" value="{{Customer_Estimated_delivery_date}}">

</div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="Address">Customer Address:</label>
</div>
<div class="col-7">
<input type="text" name="Address" id="Address" value="{{ Address}}">

</div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="Residency_of_Customer">Residency of Customer:</label>
</div>
<div class="col-7">
<input type="text" name="Residency" id="Residency" value="{{ Residency}}">

</div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="State">Customer_State:</label>
</div>
<div class="col-7">
<input type="text" name="city" id="city" value="{{ city}}">

</div>
</div>
<hr/>

<div class ="row">
    <div class="col-5">
<label for ="zip">Customer_zip:</label>
</div>
<div class="col-7">
<input type="text" name="code" id="code" value="{{code}}">

</div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="tel">Customer_telephone_Number:</label>
</div>
<div class="col-7">
<input type="tel" name="tel" id="tel" value="{{tel}}">

</div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="type of insurance">Customer_type_of_insurance:</label>
</div>
        <input type ="radio" name ="type of insurance" value ="private" id ="private">private<br/>
        <input type ="radio" name ="type of insurance" value ="medicaid" id ="medicaid">medicaid<br/>
        <input type ="radio" name ="type of insurance" value ="medicare" id ="medicare">medicare<br/>
        <input type ="radio" name ="type of insurance" value ="uninsured" id ="uninsured">uninsured<br/>
        <input type ="radio" name ="type of insurance" value ="unknown" id ="unknown">unknown<br/>
    </div>
</div>
<hr/>
        Customer_Race:<br/>
        <input type ="radio" name ="Customer_Race" value ="American Indian/Alaskan Native" id ="American Indian/Alaskan Native">American Indian/Alaskan Native<br/>
        <input type ="radio" name ="Customer_Race" value ="Native Hawaiian/Pacific Islander" id ="Native Hawaiian/Pacific Islander">Native Hawaiian/Pacific Islander<br/>
        <input type ="radio" name ="Customer_Race" value ="Asian" id ="Asian">Asian<br/>
        <input type ="radio" name ="Customer_Race" value ="White" id ="White">White<br/>
        <input type ="radio" name ="Customer_Race" value ="Black/African Am." id ="Black/African Am.">Black/African Am.<br/>
        <input type ="radio" name ="Customer_Race" value ="Unk" id ="Unk">Unk<br/>
        <input type ="radio" name ="Customer_Race" value ="Other" id ="Other">Other<br/>
    </div>
</div>
<hr/>
        Hispanic:<br/>
        <input type ="radio" name ="hispanic" value ="yes" id ="yes">yes<br/>
        <input type ="radio" name ="hispanic" value ="No" id ="No">No<br/>
        <input type ="radio" name ="hispanic" value ="unk" id ="unk">unk<br/>
    </div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="Country_of_Birth">Customer_Country_of_Birth:</label>
</div>
<div class="col-7">
<input type="text" name="Country_of_Birth" id="Country_of_Birth" value="{{Country_of_Birth}}">

</div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="Customer_Primary_Language">Customer_Primary_Language:</label>
</div>
<div class="col-7">
<input type="text" name="Primary_Language" id="Primary_Language" value="{{Primary_Language}}">

</div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="check_if_interpreter_is_needed">check if interpreter is needed:</label>
</div>
<div class="col-7">
<input type="text" name="check_if_interpreter_is_needed" id="check_if_interpreter_is_needed" value="{{check_if_interpreter_is_needed}}">

</div>
</div>
<hr/>
</form>
</article>
<aside>
    <h2>GUARANTOR INFORMATION</h2>
<form>
    <div class ="row">
        <div class="col-5">
    <label for ="Address">Guarantor_Address:</label>
    </div>
    <div class="col-7">
    <input type="text" name="Address" id="Address" value="{{ Address}}">
    
    </div>
    </div>
    <hr/>
    <div class ="row">
        <div class="col-5">
    <label for ="Residency">Guarantor_Residency:</label>
    </div>
    <div class="col-7">
    <input type="text" name="Residency" id="Residency" value="{{ Residency}}">
    
    </div>
    </div>
    <hr/>
    <div class ="row">
        <div class="col-5">
    <label for ="State">Guarantor_State:</label>
    </div>
    <div class="col-7">
    <input type="text" name="city" id="city" value="{{ city}}">
    
    </div>
    </div>
    <hr/>
    
    <div class ="row">
        <div class="col-5">
    <label for ="zip">zip:</label>
    </div>
    <div class="col-7">
    <input type="text" name="code" id="code" value="{{code}}">
    
    </div>
    </div>
    <hr/>
    <div class ="row">
        <div class="col-5">
    <label for ="tel">Guarantor_Telephone_Number:</label>
    </div>
    <div class="col-7">
    <input type="tel" name="tel" id="tel" value="{{tel}}">
    
    </div>
    </div>
    <hr/>   

</form>
</aside>
<details>
<summary>read more</summary> 
<div class ="row">
    <div class="col-5">
<label for ="type_of_insurance">Guarantor_Type_of_insurance:</label>
</div>
        <input type ="radio" name ="type of insurance" value ="private" id ="private">private<br/>
        <input type ="radio" name ="type of insurance" value ="medicaid" id ="medicaid">medicaid<br/>
        <input type ="radio" name ="type of insurance" value ="medicare" id ="medicare">medicare<br/>
        <input type ="radio" name ="type of insurance" value ="uninsured" id ="uninsured">uninsured<br/>
        <input type ="radio" name ="type of insurance" value ="unknown" id ="unknown">unknown<br/>
    </div>
</div>
<hr/>
Guarantor_Race:<br/>
        <input type ="radio" name ="race" value ="American Indian/Alaskan Native" id ="American Indian/Alaskan Native">American Indian/Alaskan Native<br/>
        <input type ="radio" name ="race" value ="Native Hawaiian/Pacific Islander" id ="Native Hawaiian/Pacific Islander">Native Hawaiian/Pacific Islander<br/>
        <input type ="radio" name ="race" value ="Asian" id ="Asian">Asian<br/>
        <input type ="radio" name ="race" value ="White" id ="White">White<br/>
        <input type ="radio" name ="race" value ="Black/African Am." id ="Black/African Am.">Black/African Am.<br/>
        <input type ="radio" name ="race" value ="Unk" id ="Unk">Unk<br/>
        <input type ="radio" name ="race" value ="Other" id ="Other">Other<br/>
    </div>
</div>
<hr/>
Guarantor_Hispanic:<br/>
        <input type ="radio" name ="Guarantor_hispanic" value ="yes" id ="yes">yes<br/>
        <input type ="radio" name ="Guarantor_hispanic" value ="No" id ="No">No<br/>
        <input type ="radio" name ="Guarantor_hispanic" value ="unk" id ="unk">unk<br/>
    </div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="Guarantor_Country_of_Birth">Country of Birth:</label>
</div>
<div class="col-7">
<input type="text" name="Country_of_Birth" id="Country_of_Birth" value="{{Country_of_Birth}}">

</div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="Guarantor_Primary_Language">Primary Language:</label>
</div>
<div class="col-7">
<input type="text" name="Primary_Language" id="Primary_Language" value="{{Primary_Language}}">

</div>
</div>
<hr/>
    

</details>
<footer>
    
</footer>
</body>
</html>

 
