{% extends "homebase.html" %}
{% block head %}
    <meta name = "description" content="Home page for MIS data collection">
{% endblock head %}
{% block title %}<title>Home</title>{% endblock title %}
{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">EMPLOYEE RECORDS FORM MMG LIMITED 2023 (MIS)</h1>
    
    <div class="msg">{{ msg }}<{% extends "homebase.html" %}
{% block head %}
    <meta name = "description" content="Home page for MIS data collection">
{% endblock head %}
{% block title %}<title>Home</title>{% endblock title %}
{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">BALANCE SHEET FINANCIAL STATEMENT FOR EACH QUARTER OF MMG LIMITED 2023 (MIS</h1>
    <h3>First Quarter</h3>
    <div class="msg">{{ msg }}</div>
    <form action="{{ url_for('financial_data') }}" method="post">


<body>
    
<article>
    <form>
        <div class ="row">
            <div class="col-5">
       <label for ="Balance For January B/D">Balance For January B/D:</label>
       <div class="col-7">
       <input type="text" name="Balance_For_January_B/D" id="Balance_For_January_B/D" value="{{ Balance_For_January_B/D }}">
        </div>
        </div>
        <hr/>
            <div class ="row">
                <div class="col-5">
           <label for ="january B/D">January B/D:</label>
           <div class="col-7"></div>
           <input type="date" name="january_B/D" id="january_B/D" value="{{ january_B/D }}">
        </div>
    </div>
    <hr/>
    <div class ="row">
        <div class="col-5">
   <label for ="Balance For Feburary B/D">Balance For Feburary B/D:</label>
   <div class="col-7">
    <input type="text" name="Balance_For_Feburary_B/D" id="Balance_For_Feburary_B/D" value="{{ Balance_For_Feburary_B/D }}">
    </div>
    </div>
    <hr/>
        <div class ="row">
            <div class="col-5">
       <label for ="Feburary Sales">Feburary Sales:</label>
       <div class="col-7"></div>
       <input type="date" name="feburary_B/D" id="feburary_B/D" value="{{ feburary_B/D }}">
    </div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="Balance For March B/D">Balance For March B/D:</label>
<div class="col-7">
<input type="text" name="Balance_For_March_B/D" id="Balance_For_March_B/D" value="{{ Balance_For_March_B/D }}">
</div>
</div>
<hr/>
    <div class ="row">
        <div class="col-5">
   <label for ="March B/D">March B/D:</label>
   <div class="col-7"></div>
   <input type="date" name="march_B/D" id="march_B/D" value="{{ march_B/D }}">
</div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="Balance For April B/D">Balance For April B/D:</label>
<div class="col-7">
<input type="text" name="Balance_For_April_B/D" id="Balance_For_April_B/D" value="{{ Balance_For_April_B/D }}">
</div>
</div>
<hr/>
    <div class ="row">
        <div class="col-5">
   <label for ="April B/D">April B/D:</label>
   <div class="col-7"></div>
   <input type="date" name="april_B/D" id="april_B/D" value="{{ april_B/D }}">
</div>
</div>
<hr/>
    </form>
</article>
<aside>
    <h2>Second Quarter</h2>
<form>
    <div class ="row">
        <div class="col-5">
   <label for ="Balance For May B/D">Balance For May B/D:</label>
   <div class="col-7">
    <input type="text" name="Balance_For_May_B/D" id="Balance_For_May_B/D" value="{{ Balance_For_May_B/D }}">
    </div>
    </div>
    <hr/>
        <div class ="row">
            <div class="col-5">
       <label for ="May B/D">May B/D:</label>
       <div class="col-7"></div>
       <input type="date" name="may_B/D" id="may_B/D" value="{{ may_B/D }}">
    </div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="Balance For june B/D">Balance For June B/D:</label>
<div class="col-7">
<input type="text" name="Balance_For_June_B/D" id="Balance_For_June_B/D" value="{{ Balance_For_June_B/D }}">
</div>
</div>
<hr/>
    <div class ="row">
        <div class="col-5">
   <label for ="June B/D">June B/D:</label>
   <div class="col-7"></div>
   <input type="date" name="june_B/D" id="june_B/D" value="{{ june_B/D }}">
</div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="Balance For July B/D">Balance For July B/D:</label>
<div class="col-7">
<input type="text" name="Balance_For_July_B/D" id="Balance_For_July_B/D" value="{{ Balance_For_July_B/D }}">
</div>
</div>
<hr/>
    <div class ="row">
        <div class="col-5">
   <label for ="July B/D">July B/D:</label>
   <div class="col-7"></div>
   <input type="date" name="july_B/D" id="july_B/D" value="{{ july_B/D }}">
</div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="Balance For August B/D">Balance For August B/D:</label>
<div class="col-7">
<input type="text" name="Balance_For_August_B/D" id="Balance_For_August_B/D" value="{{ Balance_For_August_B/D }}">
</div>
</div>
<hr/>
    <div class ="row">
        <div class="col-5">
   <label for ="August B/D">August B/D:</label>
   <div class="col-7"></div>
   <input type="date" name="august_B/D" id="august_B/D" value="{{ august_B/D }}">
</div>
</div>
<hr/>
        
    </form>
</aside>
<details>
<summary>read more</summary> 
        <div class ="row">
            <div class="col-5">
        <label for ="Balance For September B/D">Balance For September B/D:</label>
        <div class="col-7">
        <input type="text" name="Balance_For_September_B/D" id="Balance_For_September_B/D" value="{{ Balance_For_September_B/D }}">
        </div>
        </div>
        <hr/>
            <div class ="row">
                <div class="col-5">
           <label for ="September B/D">September B/D:</label>
           <div class="col-7"></div>
           <input type="date" name="September_B/D" id="September_B/D" value="{{ September_B/D }}">
        </div>
        </div>
        <hr/>
        <div class ="row">
            <div class="col-5">
        <label for ="Balance For October B/D">Balance For October B/D:</label>
        <div class="col-7">
        <input type="text" name="Balance_For_October_B/D" id="Balance_For_October_B/D" value="{{ Balance_For_October_B/D }}">
        </div>
        </div>
        <hr/>
            <div class ="row">
                <div class="col-5">
           <label for ="October B/D">October B/D:</label>
           <div class="col-7"></div>
           <input type="date" name="october_B/D" id="october_B/D" value="{{ october_B/D }}">
        </div>
        </div>
        <hr/>
        <div class ="row">
            <div class="col-5">
        <label for ="Balance For November B/D">Balance For November B/D:</label>
        <div class="col-7">
        <input type="text" name="Balance_For_November_Sales" id="Balance_For_November_B/D" value="{{ Balance_For_November_B/D }}">
        </div>
        </div>
        <hr/>
            <div class ="row">
                <div class="col-5">
           <label for ="November B/D">November B/D:</label>
           <div class="col-7"></div>
           <input type="date" name="november_B/D" id="november_B/D" value="{{ november_B/D }}">
        </div>
        </div>
        <hr/>
        <div class ="row">
            <div class="col-5">
        <label for ="Balance For December B/D">Balance For December B/D:</label>
        <div class="col-7">
        <input type="text" name="Balance_For_December_B/D" id="Balance_For_December_B/D" value="{{ Balance_For_December_B/D }}">
        </div>
        </div>
        <hr/>
            <div class ="row">
                <div class="col-5">
           <label for ="May B/D">December B/D:</label>
           <div class="col-7"></div>
           <input type="date" name="december_B/D" id="december_B/D" value="{{ december_B/D }}">
        </div>
        </div>
        <hr/>
    </details>
    <footer>
        
    </footer>
    </body>
    </html>


/div>
    <form action="{{ url_for('employee_records') }}" method="post">
    

<body>      
<article>
    <form>
        <div class ="row">
            <div class="col-5">
        <label for ="lastname">Employee_Lastname:</label>
    </div>
    <div class="col-7">
    <input type="text" name="last_name" id="last_name" value="{{ last_name}}">
    
    </div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="Firstname">Employee_FirstName:</label>
</div>
<div class="col-7">
<input type="text" name="first_name" id="first_name" value="{{ first_name}}">

</div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="middlename">Employee_MiddleName:</label>
</div>
<div class="col-7">
<input type="text" name="middle_name" id="middle_name" value="{{ middle_name}}">

</div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="dob">Employee_Date_of_birth:</label>
</div>
<div class="col-7">
<input type="date" name="dob" id="dob" value="{{ dob}}">

</div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="Employee_Estimated_delivery_date">Employee Estimated delivery date:</label>
</div>
<div class="col-7">
<input type="date" name="Employee_Estimated_delivery_date" id="Employee_Estimated_delivery_date" value="{{Employee_Estimated_delivery_date}}">

</div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="Employee_Address">Employee Address:</label>
</div>
<div class="col-7">
<input type="text" name="Address" id="Address" value="{{ Address}}">

</div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="Residency_of_Employee">Residency of Employee:</label>
</div>
<div class="col-7">
<input type="text" name="Residency" id="Residency" value="{{ Residency}}">

</div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="State">Employee_State:</label>
</div>
<div class="col-7">
<input type="text" name="city" id="city" value="{{ city}}">

</div>
</div>
<hr/>

<div class ="row">
    <div class="col-5">
<label for ="zip">Employee_zip:</label>
</div>
<div class="col-7">
<input type="text" name="code" id="code" value="{{code}}">

</div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="tel">Employee_telephone_Number:</label>
</div>
<div class="col-7">
<input type="tel" name="tel" id="tel" value="{{tel}}">

</div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="Employee type of insurance">Employee_type_of_insurance:</label>
</div>
        <input type ="radio" name ="Employee type of insurance" value ="private" id ="private">private<br/>
        <input type ="radio" name ="Employee type of insurance" value ="medicaid" id ="medicaid">medicaid<br/>
        <input type ="radio" name ="Employee type of insurance" value ="medicare" id ="medicare">medicare<br/>
        <input type ="radio" name ="Employee type of insurance" value ="uninsured" id ="uninsured">uninsured<br/>
        <input type ="radio" name ="Employee type of insurance" value ="unknown" id ="unknown">unknown<br/>
    </div>
</div>
<hr/>
Employee_Race:<br/>
        <input type ="radio" name ="Employee_race" value ="American Indian/Alaskan Native" id ="American Indian/Alaskan Native">American Indian/Alaskan Native<br/>
        <input type ="radio" name ="Employee_race" value ="Native Hawaiian/Pacific Islander" id ="Native Hawaiian/Pacific Islander">Native Hawaiian/Pacific Islander<br/>
        <input type ="radio" name ="Employee_race" value ="Asian" id ="Asian">Asian<br/>
        <input type ="radio" name ="Employee_race" value ="White" id ="White">White<br/>
        <input type ="radio" name ="Employee_race" value ="Black/African Am." id ="Black/African Am.">Black/African Am.<br/>
        <input type ="radio" name ="Employee_race" value ="Unk" id ="Unk">Unk<br/>
        <input type ="radio" name ="Employee_race" value ="Other" id ="Other">Other<br/>
    </div>
</div>
<hr/>
Employee_Hispanic:<br/>
        <input type ="radio" name ="Employee_hispanic" value ="yes" id ="yes">yes<br/>
        <input type ="radio" name ="Employee_hispanic" value ="No" id ="No">No<br/>
        <input type ="radio" name ="Employee_hispanic" value ="unk" id ="unk">unk<br/>
    </div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="Country_of_Birth">Employee_Country_of_Birth:</label>
</div>
<div class="col-7">
<input type="text" name="Country_of_Birth" id="Country_of_Birth" value="{{Country_of_Birth}}">

</div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="Employee_Primary_Language">Employee_Primary_Language:</label>
</div>
<div class="col-7">
<input type="text" name="Employee_Primary_Language" id="Employee_Primary_Language" value="{{Employee_Primary_Language}}">

</div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="check_if_interpreter_is_needed">Employee_check_if_interpreter_is_needed:</label>
</div>
<div class="col-7">
<input type="text" name="check_if_interpreter_is_needed" id="check_if_interpreter_is_needed" value="{{check_if_interpreter_is_needed}}">

</div>
</div>
<hr/>
</form>
</article>
<aside>
    <h2>GUARANTOR INFORMATION</h2>
<form>
    <div class ="row">
        <div class="col-5">
    <label for ="Address">GUARANTOR_Address:</label>
    </div>
    <div class="col-7">
    <input type="text" name="Address" id="Address" value="{{ Address}}">
    
    </div>
    </div>
    <hr/>
    <div class ="row">
        <div class="col-5">
    <label for ="Residency">GUARANTOR_Residency:</label>
    </div>
    <div class="col-7">
    <input type="text" name="Residency" id="Residency" value="{{ Residency}}">
    
    </div>
    </div>
    <hr/>
    <div class ="row">
        <div class="col-5">
    <label for ="State">GUARANTOR_State:</label>
    </div>
    <div class="col-7">
    <input type="text" name="city" id="city" value="{{ city}}">
    
    </div>
    </div>
    <hr/>
    
    <div class ="row">
        <div class="col-5">
    <label for ="zip">GUARANTOR_zip:</label>
    </div>
    <div class="col-7">
    <input type="text" name="code" id="code" value="{{code}}">
    
    </div>
    </div>
    <hr/>
    <div class ="row">
        <div class="col-5">
    <label for ="tel">GUARANTOR_Telephone_Number:</label>
    </div>
    <div class="col-7">
    <input type="tel" name="tel" id="tel" value="{{tel}}">
    
    </div>
    </div>
    <hr/>   

</form>
</aside>
<details>
<summary>read more</summary> 
<div class ="row">
    <div class="col-5">
<label for ="type of insurance">GUARANTOR_Type_of_insurance:</label>
</div>
        <input type ="radio" name ="type of insurance" value ="private" id ="private">private<br/>
        <input type ="radio" name ="type of insurance" value ="medicaid" id ="medicaid">medicaid<br/>
        <input type ="radio" name ="type of insurance" value ="medicare" id ="medicare">medicare<br/>
        <input type ="radio" name ="type of insurance" value ="uninsured" id ="uninsured">uninsured<br/>
        <input type ="radio" name ="type of insurance" value ="unknown" id ="unknown">unknown<br/>
    </div>
</div>
<hr/>
GUARANTOR_Race:<br/>
        <input type ="radio" name ="race" value ="American Indian/Alaskan Native" id ="American Indian/Alaskan Native">American Indian/Alaskan Native<br/>
        <input type ="radio" name ="race" value ="Native Hawaiian/Pacific Islander" id ="Native Hawaiian/Pacific Islander">Native Hawaiian/Pacific Islander<br/>
        <input type ="radio" name ="race" value ="Asian" id ="Asian">Asian<br/>
        <input type ="radio" name ="race" value ="White" id ="White">White<br/>
        <input type ="radio" name ="race" value ="Black/African Am." id ="Black/African Am.">Black/African Am.<br/>
        <input type ="radio" name ="race" value ="Unk" id ="Unk">Unk<br/>
        <input type ="radio" name ="race" value ="Other" id ="Other">Other<br/>
    </div>
</div>
<hr/>
GUARANTOR_Hispanic:<br/>
        <input type ="radio" name ="hispanic" value ="yes" id ="yes">yes<br/>
        <input type ="radio" name ="hispanic" value ="No" id ="No">No<br/>
        <input type ="radio" name ="hispanic" value ="unk" id ="unk">unk<br/>
    </div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="Country_of_Birth">GUARANTOR_Country_of_Birth:</label>
</div>
<div class="col-7">
<input type="text" name="Country_of_Birth" id="Country_of_Birth" value="{{Country_of_Birth}}">

</div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="Primary_Language">GUARANTOR_Primary_Language:</label>
</div>
<div class="col-7">
<input type="text" name="Primary_Language" id="Primary_Language" value="{{Primary_Language}}">

</div>
</div>
<hr/>
    

</details>
<footer>
    
</footer>
</body>
</html>

 
