{% extends "homebase.html" %}
{% block head %}
    <meta name = "description" content="Home page for MIS data collection">
{% endblock head %}
{% block title %}<title>Home</title>{% endblock title %}
{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">SALES FIGURE FOR EACH QUARTER OF MMG LIMITED 2023 (MIS)</h1>
    <h3>First Quarter</h3>
    <div class="msg">{{ msg }}</div>
    <form action="{{ url_for('sales_figure') }}" method="post">

<body>    
<article>
    <form>
        <div class ="row">
            <div class="col-5">
       <label for ="Balance For January Sales">Balance For January Sales:</label>
       <div class="col-7">
        <input type="text" name="Balance_For_January_Sales" id="Balance_For_January_Sales" value="{{ Balance_For_January_Sales }}">
        </div>
        </div>
        <hr/>
            <div class ="row">
                <div class="col-5">
           <label for ="May Sales">January Sales:</label>
           <div class="col-7"></div>
           <input type="date" name="january_sales" id="january_sales" value="{{ january_sales }}">
        </div>
    </div>
    <hr/>
    <div class ="row">
        <div class="col-5">
   <label for ="Balance For Feburary Sales">Balance For Feburary Sales:</label>
   <div class="col-7">
    <input type="text" name="Balance_For_Feburary_Sales" id="Balance_For_Feburary_Sales" value="{{ Balance_For_Feburary_Sales }}">
    </div>
    </div>
    <hr/>
        <div class ="row">
            <div class="col-5">
       <label for ="Feburary Sales">Feburary Sales:</label>
       <div class="col-7"></div>
       <input type="date" name="feburary_sales" id="feburary_sales" value="{{ feburary_sales }}">
    </div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="Balance For March Sales">Balance For March Sales:</label>
<div class="col-7">
<input type="text" name="Balance_For_March_Sales" id="Balance_For_March_Sales" value="{{ Balance_For_March_Sales }}">
</div>
</div>
<hr/>
    <div class ="row">
        <div class="col-5">
   <label for ="March Sales">March Sales:</label>
   <div class="col-7"></div>
   <input type="date" name="march_sales" id="march_sales" value="{{ march_sales }}">
</div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="Balance For April Sales">Balance For April Sales:</label>
<div class="col-7">
<input type="text" name="Balance_For_April_Sales" id="Balance_For_April_Sales" value="{{ Balance_For_April_Sales }}">
</div>
</div>
<hr/>
    <div class ="row">
        <div class="col-5">
   <label for ="April Sales">April Sales:</label>
   <div class="col-7"></div>
   <input type="date" name="april_sales" id="april_sales" value="{{ april_sales }}">
</div>
</div>
<hr/>
    </form>
</article>
<aside>
    <h2>Second Quarter</h2>
<form>
    <div class ="row">
        <div class="col-5">
   <label for ="Balance For May Sales">Balance For May Sales:</label>
   <div class="col-7">
    <input type="text" name="Balance_For_May_Sales" id="Balance_For_May_Sales" value="{{ Balance_For_May_Sales }}">
    </div>
    </div>
    <hr/>
        <div class ="row">
            <div class="col-5">
       <label for ="May Sales">May Sales:</label>
       <div class="col-7"></div>
       <input type="date" name="may_sales" id="may_sales" value="{{ may_sales }}">
    </div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="Balance For june Sales">Balance For June Sales:</label>
<div class="col-7">
<input type="text" name="Balance_For_Junr_Sales" id="Balance_For_June_Sales" value="{{ Balance_For_June_Sales }}">
</div>
</div>
<hr/>
    <div class ="row">
        <div class="col-5">
   <label for ="June Sales">June Sales:</label>
   <div class="col-7"></div>
   <input type="date" name="june_sales" id="june_sales" value="{{ june_sales }}">
</div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="Balance For July Sales">Balance For July Sales:</label>
<div class="col-7">
<input type="text" name="Balance_For_July_Sales" id="Balance_For_July_Sales" value="{{ Balance_For_July_Sales }}">
</div>
</div>
<hr/>
    <div class ="row">
        <div class="col-5">
   <label for ="July Sales">July Sales:</label>
   <div class="col-7"></div>
   <input type="date" name="july_sales" id="july_sales" value="{{ july_sales }}">
</div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="Balance For August Sales">Balance For August Sales:</label>
<div class="col-7">
<input type="text" name="Balance_For_August_Sales" id="Balance_For_August_Sales" value="{{ Balance_For_August_Sales }}">
</div>
</div>
<hr/>
    <div class ="row">
        <div class="col-5">
   <label for ="August Sales">August Sales:</label>
   <div class="col-7"></div>
   <input type="date" name="august_sales" id="august_sales" value="{{ august_sales }}">
</div>
</div>
<hr/>

        
    </form>
</aside>
<details>
<summary>read more</summary> 
<div class ="row">
    <div class="col-5">
<label for ="Balance For September Sales">Balance For September Sales:</label>
<div class="col-7">
<input type="text" name="Balance_For_September_Sales" id="Balance_For_September_Sales" value="{{ Balance_For_September_Sales }}">
</div>
</div>
<hr/>
    <div class ="row">
        <div class="col-5">
   <label for ="September Sales">September Sales:</label>
   <div class="col-7"></div>
   <input type="date" name="September_sales" id="September_sales" value="{{ September_sales }}">
</div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="Balance For October Sales">Balance For October Sales:</label>
<div class="col-7">
<input type="text" name="Balance_For_October_Sales" id="Balance_For_October_Sales" value="{{ Balance_For_October_Sales }}">
</div>
</div>
<hr/>
    <div class ="row">
        <div class="col-5">
   <label for ="October Sales">October Sales:</label>
   <div class="col-7"></div>
   <input type="date" name="october_sales" id="october_sales" value="{{ october_sales }}">
</div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="Balance For November Sales">Balance For November Sales:</label>
<div class="col-7">
<input type="text" name="Balance_For_November_Sales" id="Balance_For_November_Sales" value="{{ Balance_For_November_Sales }}">
</div>
</div>
<hr/>
    <div class ="row">
        <div class="col-5">
   <label for ="November Sales">November Sales:</label>
   <div class="col-7"></div>
   <input type="date" name="november_sales" id="november_sales" value="{{ november_sales }}">
</div>
</div>
<hr/>
<div class ="row">
    <div class="col-5">
<label for ="Balance For December Sales">Balance For December Sales:</label>
<div class="col-7">
<input type="text" name="Balance_For_December_Sales" id="Balance_For_December_Sales" value="{{ Balance_For_December_Sales }}">
</div>
</div>
<hr/>
    <div class ="row">
        <div class="col-5">
   <label for ="May Sales">December Sales:</label>
   <div class="col-7"></div>
   <input type="date" name="december_sales" id="december_sales" value="{{ december_sales }}">
</div>
</div>
<hr/>
    </details>
    <footer>
        
    </footer>
    </body>
    </html>
